@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .scrollbar__search::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar__search::-webkit-scrollbar-thumb {
    background-color: #637083;
    border: 3px solid transparent;
  }

  .scrollbar__search::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar__search::-webkit-scrollbar-thumb:hover {
    background: #344051;
  }

  /* hidden the landscape on md  */
  @media (max-width: 768px) and (orientation: landscape) {
    .modal__landscape {
      height: 60vh;
      overflow: scroll;
    }
  }
}
